# nao realizar o upload para o github das seguintes pastas 
**/.ipynb_checkpoints/
**/__pycache__/
*__pycache__*
.vscode/
build/
dist/
.idea/

# ignorar esses arquivos
*.pyc
*~
*.out
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.dvi
*.blg
*.bbl
*.aux
*.run.xml
